<h1><%= @species.name %></h1>

<%= link_to "Edit this species", edit_species_path(@species) %> |
<%= link_to "Delete this species", species_path(@species),
  :data => {:confirm => "Are you sure?", :method => "delete"} %> |

<%= link_to "Return to Species List", species_index_path %>
